{% extends 'base.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}
{% block body %}
    <div class="container-fluid catalogue">
        <div class="row">
            <div class="col-3 title-admin">
                <ul>
                    <a href="{{ path('admin_index') }}"><li class='active d-flex align-items-center'><i class="fas fa-history"></i> Tableau de Bord</li></a>
                    <a href="{{ path('admin_new_product') }}"><li class='d-flex align-items-center'><i class="fas fa-baby-carriage"></i> Equipements</li></a>
                    <a href="{{ path('admin_new_accessory') }}"><li class='d-flex align-items-center'><i class="fas fa-umbrella"></i> Accessoires</li></a>
                    <a href=""><li class='d-flex align-items-center'><i class="fas fa-box-open"></i> Stocks</li></a>
                    <a href=""><li class='d-flex align-items-center'><i class="far fa-calendar-check"></i> Locations</li></a>
                    <a href=""><li class='d-flex align-items-center'><i class="far fa-calendar-alt"></i> Calendrier</li></a>
                    <a href=""><li class='d-flex align-items-center'><i class="fas fa-user-lock"></i> Utilisateurs</li></a>
                    <a href=""><li class='d-flex align-items-center'><i class="fas fa-chart-area"></i> Analytics</li></a>
                </ul>
            </div>
            <div class="col-9">

            </div>
        </div>
        <div class="mx-auto my-5 text-center">
            <a href="{{ path("home") }}"><button class="btn button-style col-3"> Retour sur la page d'accueil </button></a>
        </div>
    </div>


{% endblock %}
