{% extends 'base_admin.html.twig' %}

{% block title %}Panneau Administration{% endblock %}

{% block content %}
        <div class="mx-auto my-5 text-center">
            <a href="{{ path("home") }}"><button class="btn button-style col-3"> Retour sur la page d'accueil </button></a>

        </div>
{% endblock %}
