{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

    {% block body %}
        <h1>Location</h1>
        <div class="d-flex">
            <div class="row ">
                <div class="col-md">
                </div>
                <div class="col-md ">
                    {{ form_start(form) }}
                    <label for="">Date de début </label>
                    {{ form_widget(form.dateIn) }}
                    {{ form_end (form)}}
                    <button type="submit" class="btn button-decoration"> Valider la location</button>
                </div>
            </div>
        </div>
    {% endblock %}
