.basket-information {
  h2 {
    margin-top: 30px;
  }

  h3, h4 {
    font-size: 0.75em;
    color: $color-grey;
  }

  a {
    color: $font-color;

    &:hover {
      text-decoration: none;
    }
  }

  .card-basket {
    margin-bottom: 15px;
    width: 400px;
    height: 100px;
    box-shadow: 0 3px 4px rgba(153, 155, 168, 0.30);
    border-radius: $border-radius-button;

    .img-fluid {
      height: 100px;
    }

    p {
      color: $color-grey;
      font-size: 12px;
    }
  }

  .basket {
    border-bottom: 1px solid #EDE8E9;
    margin-top: 30px;
  }
}
