footer {
  background-color: $color-blue;
  color: $color-white;
  flex-shrink: 0;
  height: 15vh;
  font-size:1vw ;
  .logo-footer{
    width: 14vh;
    height: auto;
  }
}


//.footer,
////.push {
////  height: 50px;
////}
