.input-group-text{
  background-color: transparent;
  color: #000000;
  border-left-color: transparent;
}

.picture-input{
  border-right-color: transparent;
}

.button-style{
  background-color: $color-blue;
  color: $color-white;
  width: 100%;
}




.grey-text{
  color:$color-grey;
}

.container-login{
  margin-bottom: 44vh;
}

.container-register{
  margin-bottom: 26vh;
}
