* {
  font-family: 'Roboto', sans-serif;
  body {
    background-color: $color-white;
    color: $light;
    height: 100vh;
    display: flex;
    flex-direction: column;
    .div-content{
      flex: 1 0 auto;
      margin-top: 11vh;
      margin-bottom: 6vh;
    }
    h1{
      font-weight: $title-weight;
    }
    a{
      text-decoration:none;
      color: $font-color;
      &:hover{
        text-decoration:none;
      }
    }
  }
}
