.home{
  font-weight: bold;
  font-size: 5vw;
  line-height: 5vw;
}
h2.home{
  font-size: 3rem;
  line-height: 14vw;
}
.Title-2{
  font-weight: bold;
  font-size: 3rem;
}
.back-design{
  background-image: url("../images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
  height: 900px;
}
.golden-title{
  font-weight: bold;
  font-size: 2em;
  color: #FEBF63;
}
div.card.bg-card{
  background-color: #F7F7F7;
  border-color:#F7F7F7 ;
}
.guillemets{
  width: 300px;
  height:300px;
  background-image: url("../images/Title.png");
  background-size: contain;
  background-repeat: no-repeat;
}
