.home{
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 95px;
}
.Title-2{
  font-weight: bold;
  font-size: 3rem;
}
.back-design{
  background-image: url("../images/bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  width:100%;
  height: 900px;
}
