
.navbar{
  background-color: $color-white;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  height: 10vh;
  .logo-nav{
    width: 15vh;
    height: auto;
  }
  li {
    margin-bottom: 3%;
  }
}
