.logo {
  width: 70px;
  margin-right: 20px;
}

.button-decoration{
  font-weight:$title-weight;
  height:$height-button;
  width: $width-button;
  background-color: transparent;
  color: $font-color;
  border: 1px solid $color-border-grey;
  border-radius: $border-radius-button;
  font-size: 1.1em;
  &:hover{
    box-shadow:  9px 9px 12px #f2f2f2,
    -9px -9px 12px #ffffff;
  }
}


.form-information, .form-password{
  h2{
    text-align: center;
  }
  label {
      color : $color-grey;
    }
  input {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

.form-password{
  .alert-danger{
    background-color: transparent;
  }
}

.container-user{
  a {
    color: $font-color;
    &:hover {
      text-decoration: none;
    }
  }
  .user-card {
    margin-top: 30px;
    border-radius: 25px;
    background: #ffffff;
    &:hover {
      box-shadow: 9px 9px 12px #f2f2f2,
      -9px -9px 12px #ffffff;
    }
  }
  .card-title, {
    font-size: 1.5em;
  }

}

.rent-information{
  h2{
    margin-top: 30px;
  }
  h3, h4{
    font-size: 0.75em;
    color: $color-grey;
  }
  a {
    color: $font-color;

    &:hover {
      text-decoration: none;
    }
  }
  .card-rent{
    margin-bottom: 15px;
    height: 70px;
    box-shadow: 0 3px 4px
    rgba(153, 155, 168, 0.30);
    border-radius: $border-radius-button;
    .img-fluid{
      height: 70px;
    }
    p {
      color: $color-grey;
      font-size: 10px;
    }
  }
  .location{
    border-bottom: 1px solid #EDE8E9;
    margin-top: 30px;
  }
}

.alert-information{
  h2{
    margin-top: 30px;
  }
  h3, h4{
    font-size: 0.75em;
    color: $color-grey;
  }
  a {
    color: $font-color;

    &:hover {
      text-decoration: none;
    }
  }
  .card-rent{
    margin-bottom: 15px;
    height: 70px;
    box-shadow: 0 3px 4px
    rgba(153, 155, 168, 0.30);
    border-radius: $border-radius-button;
    .img-fluid{
      height: 70px;
    }
    p {
      color: $color-grey;
      font-size: 10px;
    }
  }
  .location{
    border-bottom: 1px solid #EDE8E9;
    margin-top: 30px;
  }
}




