.logo {
  width: 70px;
  margin-right: 20px;
}

.form-information, .form-password{
  h2{
    text-align: center;
  }
  label {
      color : $color-grey;
    }
  input {
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
  }
}

.form-password{
  .alert-danger{
    background-color: transparent;
  }
}

.container-user{
  a {
    color: $font-color;
    &:hover {
      text-decoration: none;
    }
  }
  .user-card {
    margin-top: 30px;
    border-radius: 25px;
    background: #ffffff;
    &:hover {
      box-shadow: 9px 9px 12px #f2f2f2,
      -9px -9px 12px #ffffff;
    }
  }
  .card-title, .button-decoration {
    font-size: 1.5em;
  }
  .button-decoration{
    font-weight:$title-weight;
    height:$height-button;
    width: $width-button;
    background-color: transparent;
    color: $font-color;
    border: 1px solid $color-border-grey;
    border-radius: $border-radius-button;
    &:hover{
      box-shadow:  9px 9px 12px #f2f2f2,
      -9px -9px 12px #ffffff;
    }
  }
}

.rent-information{
  .img-fluid{
    height: 150px;
  }
}

