$color-white: #ffffff;
$light: #3A3335;
$color-blue: #10002f;
$color-grey: #908E8E;
$font-color: #000000;
$color-gray: #f3f2f5;
$color-orange: #FEBF63;
$color-border-grey: #ECEEF5;
$title-weight: 700;
$border-radius-button: 10px;
$height-button:60px;
$width-button: 250px;
$color-svg-admin:#5E81F4;
