<footer class="d-flex justify-content-around align-items container-fluid">
        <img src="{{ asset('build/logo-footer.svg') }}" alt="logo-footer" class="logo-footer">
        <div class="pt-5">
            <strong>CONTACT</strong>
            <ul class="d-flex flex-column list-inline justify-content-center align-items-start flex-wrap">
                <li>contact@gambin.co</li>
                <li>0630969266</li>
            </ul>
        </div>
        <div class="pt-5">
            <strong>INFORMATIONS</strong>
            <ul class="d-flex flex-column list-inline justify-content-center align-items-start flex-wrap">
                <li>Mentions légales</li>
                <li>Politique de confidentialité</li>
                <li>CGU</li>
            </ul>
        </div>
        <div class="pt-5">
            <strong>SUIVEZ-NOUS</strong>
            <ul class="d-flex flex-column list-inline justify-content-center align-items-start flex-wrap">
                <li>linkedin</li>
                <li>Instragram</li>
            </ul>
        </div>
</footer>
