<footer class=" d-flex justify-content-around align-items-center container-fluid" >
        <img src="{{ asset('build/logo-footer.svg') }}" alt="logo-footer" class="logo-footer">
        <ul class="d-flex flex-column list-inline justify-content-center align-items-start flex-wrap h-100">
            <li><strong>CONTACT</strong></li>
            <li>contact@gambin.co</li>
            <li>0630969266</li>
        </ul>
        <ul class="d-flex flex-column list-inline justify-content-center align-items-start flex-wrap h-100">
            <li><strong>INFORMATIONS</strong></li>
            <li>Mentions légales</li>
            <li>Politique de confidentialité</li>
            <li>CGU</li>
        </ul>
        <ul class="d-flex flex-column list-inline justify-content-center align-items-start flex-wrap h-100">
            <li><strong>SUIVEZ-NOUS</strong></li>
            <li>linkedin</li>
            <li>Instragram</li>
        </ul>
</footer>
