{% extends 'base.html.twig' %}
{% form_theme form_password 'bootstrap_4_layout.html.twig' %}
{% block title %}Modification du Mot de passe{% endblock %}

{% block body %}
    <h1>Paramètre du compte</h1>
    <div class="container justify-content-center form-password">
        <h2>Changer de mot de passe</h2>
        <div class="row d-flex justify-content-center">
            <div class="col-12 col-lg-9">
                {{ form_start(form_password) }}
                {{ form_widget(form_password) }}
                <button type="submit" class="btn button-style">Valider les modifications</button>
                {{ form_end(form_password) }}
            </div>
        </div>
    </div>
    <div class="mx-auto my-5 text-center">
        <a href="{{ path('user_index') }}"><button class="btn button-decoration"><i class="fas fa-arrow-circle-left"></i>  Revenir à mon Compte</button></a>
    </div>
{% endblock %}

